In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt 
import seaborn as sns
import scipy.stats as ss

# FCF

In [12]:
"""
	2006	2007	2008	2009	2010	2011
Consolidated Revenue	431121	479329.0592	489028.1422	532136.9879	570319.1918	597716.8309
Less:  Operating Expenses		423836.2581	427333.3759	465110.0949	498534.7183	522521.9915
Less:  Corporate Overhead		8487.06119	8658.794385	9422.085081	10098.14403	10583.25011
Consolidated Operating Income	51804	47005.73992	53035.97195	57604.80788	61686.32943	64611.5893
Estimated Capital Expenditures		11983.22648	12225.70355	13303.4247	14257.97979	14942.92077
Estimated Depreciation		9586.581184	9780.562844	10642.73976	11406.38384	11954.33662
"""

'\n\t2006\t2007\t2008\t2009\t2010\t2011\nConsolidated Revenue\t431121\t479329.0592\t489028.1422\t532136.9879\t570319.1918\t597716.8309\nLess:  Operating Expenses\t\t423836.2581\t427333.3759\t465110.0949\t498534.7183\t522521.9915\nLess:  Corporate Overhead\t\t8487.06119\t8658.794385\t9422.085081\t10098.14403\t10583.25011\nConsolidated Operating Income\t51804\t47005.73992\t53035.97195\t57604.80788\t61686.32943\t64611.5893\nEstimated Capital Expenditures\t\t11983.22648\t12225.70355\t13303.4247\t14257.97979\t14942.92077\nEstimated Depreciation\t\t9586.581184\t9780.562844\t10642.73976\t11406.38384\t11954.33662\n'

$$
    FCF = EBIT * (1-\tau) + Depreciation - CapEx - \Delta WorkingCapital
$$

In [15]:
ex6_base_projection = pd.read_clipboard()

In [41]:
ex6_base_projection.index = ex6_base_projection.Index

In [43]:
ex6_base_projection.drop("Index", axis=1, inplace=True)

In [44]:
ex6_base_projection.T

Index,Consolidated Revenue,Less: Operating Expenses,Less: Corporate Overhead,Consolidated Operating Income,Estimated Capital Expenditures,Estimated Depreciation
2006,431121.0000,0.0000,0.000000,51804.00000,0.00000,0.000000
2007,479329.0592,423836.2581,8487.061190,47005.73992,11983.22648,9586.581184
2008,489028.1422,427333.3759,8658.794385,53035.97195,12225.70355,9780.562844
2009,532136.9879,465110.0949,9422.085081,57604.80788,13303.42470,10642.739760
2010,570319.1918,498534.7183,10098.144030,61686.32943,14257.97979,11406.383840
2011,597716.8309,522521.9915,10583.250110,64611.58930,14942.92077,11954.336620

In [66]:
ex6_base_project_T = ex6_base_projection.T

In [69]:
ex6_base_project_T["Consolidated Operating Income"]

2006    51804.00000
2007    47005.73992
2008    53035.97195
2009    57604.80788
2010    61686.32943
2011    64611.58930
Name: Consolidated Operating Income, dtype: float64

In [71]:
ex6_base_project_T["NOPLAT"] = ex6_base_project_T.apply(lambda row: row["Consolidated Operating Income"] * (1-0.4), axis=1)

In [28]:
"""
Index	2006	2007	2008	2009	2010	2011
Operating cash	10676.22	4160.887637	4195.087426	4565.940308	4894.067904	5129.549667
Inventory	73149.37	83770.1877	85465.25289	92999.19231	99672.12467	104460.287
Receivables	45910.43	47887.78317	48856.77842	53163.60484	56978.23086	59715.41563
Prepaid expenses	10172.36	14474.21063	14767.09203	16068.84184	17221.82277	18049.14419
Total current assets	139908.38	150293.0691	153284.2108	166797.5793	178766.2462	187354.3965
Payables	16981.18	18830.49441	18985.26882	20663.59896	22148.57173	23214.26694
Accrued expenses	18809.96	22778.38197	22965.60544	24995.80412	26792.10731	28081.22973
Total current liabilities	35791.14	41608.87637	41950.87426	45659.40308	48940.67904	51295.49667
Working capital	104117.24	108684.1928	111333.3365	121138.1762	129825.5672	136058.8999
"""

'\nIndex\t2006\t2007\t2008\t2009\t2010\t2011\nOperating cash\t10676.22\t4160.887637\t4195.087426\t4565.940308\t4894.067904\t5129.549667\nInventory\t73149.37\t83770.1877\t85465.25289\t92999.19231\t99672.12467\t104460.287\nReceivables\t45910.43\t47887.78317\t48856.77842\t53163.60484\t56978.23086\t59715.41563\nPrepaid expenses\t10172.36\t14474.21063\t14767.09203\t16068.84184\t17221.82277\t18049.14419\nTotal current assets\t139908.38\t150293.0691\t153284.2108\t166797.5793\t178766.2462\t187354.3965\nPayables\t16981.18\t18830.49441\t18985.26882\t20663.59896\t22148.57173\t23214.26694\nAccrued expenses\t18809.96\t22778.38197\t22965.60544\t24995.80412\t26792.10731\t28081.22973\nTotal current liabilities\t35791.14\t41608.87637\t41950.87426\t45659.40308\t48940.67904\t51295.49667\nWorking capital\t104117.24\t108684.1928\t111333.3365\t121138.1762\t129825.5672\t136058.8999\n'

In [29]:
ex7_working_capital = pd.read_clipboard()

In [33]:
ex7_working_capital.index = ex7_working_capital.Index

In [38]:
ex7_working_capital.drop("Index", axis=1, inplace=True)

In [39]:
ex7_working_capital.shape

(9, 6)

In [40]:
ex7_working_capital.T

Index,Operating cash,Inventory,Receivables,Prepaid expenses,Total current assets,Payables,Accrued expenses,Total current liabilities,Working capital
2006,10676.220000,73149.37000,45910.43000,10172.36000,139908.3800,16981.18000,18809.96000,35791.14000,104117.2400
2007,4160.887637,83770.18770,47887.78317,14474.21063,150293.0691,18830.49441,22778.38197,41608.87637,108684.1928
2008,4195.087426,85465.25289,48856.77842,14767.09203,153284.2108,18985.26882,22965.60544,41950.87426,111333.3365
2009,4565.940308,92999.19231,53163.60484,16068.84184,166797.5793,20663.59896,24995.80412,45659.40308,121138.1762
2010,4894.067904,99672.12467,56978.23086,17221.82277,178766.2462,22148.57173,26792.10731,48940.67904,129825.5672
2011,5129.549667,104460.28700,59715.41563,18049.14419,187354.3965,23214.26694,28081.22973,51295.49667,136058.8999

In [45]:
ex7_working_capital_T = ex7_working_capital.T

In [78]:
ex7_working_capital_T["change_working_capital"] = ex7_working_capital_T["Working capital"] - ex7_working_capital_T["Working capital"].shift(1)

In [79]:
ex7_working_capital_T["change_working_capital"]

2006          NaN
2007    4566.9528
2008    2649.1437
2009    9804.8397
2010    8687.3910
2011    6233.3327
Name: change_working_capital, dtype: float64

In [81]:
FCF = ex6_base_project_T["NOPLAT"] - ex6_base_project_T["Estimated Capital Expenditures"] + ex6_base_project_T["Estimated Depreciation"] - ex7_working_capital_T["change_working_capital"]

In [82]:
FCF

2006             NaN
2007    21239.845856
2008    26727.298764
2009    22097.360088
2010    25472.810708
2011    29545.036730
dtype: float64

# WACC

In [22]:
"""
Company	Market Value	Debt	D/E	Beta	Revenue	Earnings	2000-06
D&B Shoe Company	420098.38	125441.55	0.30	2.68	2545057.90	67679.24	0.07
Marina Wilderness	1205795.25	-91558.76	-0.08	1.94	313555.69	41923.06	0.18
General Shoe Corp.	533462.75	171834.94	0.32	1.92	1322392.28	64566.58	0.11
Kinsley Coulter Products	165559.63	82235.84	0.50	1.12	552593.97	27567.95	0.05
Victory Athletic	35303250.00	7653206.58	0.22	0.97	15403547.00	1433760.00	0.08
Surfside Footwear	570684.38	195540.14	0.34	2.13	1241529.04	73123.82	0.10
Alpine Company	1056033.25	300550.14	0.28	1.27	1614647.57	112015.38	0.06
Heartland Outdoor Footwear	1454875.00	-97017.76	-0.07	1.01	1176143.61	86156.41	0.09
Templeton Athletic	397708.75	169579.43	0.43	0.98	516182.44	79169.92	0.14
"""

'\nCompany\tMarket Value\tDebt\tD/E\tBeta\tRevenue\tEarnings\t2000-06\nD&B Shoe Company\t420098.38\t125441.55\t0.30\t2.68\t2545057.90\t67679.24\t0.07\nMarina Wilderness\t1205795.25\t-91558.76\t-0.08\t1.94\t313555.69\t41923.06\t0.18\nGeneral Shoe Corp.\t533462.75\t171834.94\t0.32\t1.92\t1322392.28\t64566.58\t0.11\nKinsley Coulter Products\t165559.63\t82235.84\t0.50\t1.12\t552593.97\t27567.95\t0.05\nVictory Athletic\t35303250.00\t7653206.58\t0.22\t0.97\t15403547.00\t1433760.00\t0.08\nSurfside Footwear\t570684.38\t195540.14\t0.34\t2.13\t1241529.04\t73123.82\t0.10\nAlpine Company\t1056033.25\t300550.14\t0.28\t1.27\t1614647.57\t112015.38\t0.06\nHeartland Outdoor Footwear\t1454875.00\t-97017.76\t-0.07\t1.01\t1176143.61\t86156.41\t0.09\nTempleton Athletic\t397708.75\t169579.43\t0.43\t0.98\t516182.44\t79169.92\t0.14\n'

In [23]:
ex3_comp_firms = pd.read_clipboard()

In [24]:
ex3_comp_firms

,Company,Market Value,Debt,D/E,Beta,Revenue,Earnings,2000-06
0,D&B Shoe Company,420098.38,125441.55,0.30,2.68,2545057.90,67679.24,0.07
1,Marina Wilderness,1205795.25,-91558.76,-0.08,1.94,313555.69,41923.06,0.18
2,General Shoe Corp.,533462.75,171834.94,0.32,1.92,1322392.28,64566.58,0.11
3,Kinsley Coulter Products,165559.63,82235.84,0.50,1.12,552593.97,27567.95,0.05
4,Victory Athletic,35303250.00,7653206.58,0.22,0.97,15403547.00,1433760.00,0.08
5,Surfside Footwear,570684.38,195540.14,0.34,2.13,1241529.04,73123.82,0.10
6,Alpine Company,1056033.25,300550.14,0.28,1.27,1614647.57,112015.38,0.06
7,Heartland Outdoor Footwear,1454875.00,-97017.76,-0.07,1.01,1176143.61,86156.41,0.09
8,Templeton Athletic,397708.75,169579.43,0.43,0.98,516182.44,79169.92,0.14

In [25]:

ex3_comp_firms["BU"] = ex3_comp_firms.apply(lambda row: row["Beta"]/(1+row["D/E"]), axis=1)

In [46]:
ex3_comp_firms

,Company,Market Value,Debt,D/E,Beta,Revenue,Earnings,2000-06,BU
0,D&B Shoe Company,420098.38,125441.55,0.30,2.68,2545057.90,67679.24,0.07,2.061538
1,Marina Wilderness,1205795.25,-91558.76,-0.08,1.94,313555.69,41923.06,0.18,2.108696
2,General Shoe Corp.,533462.75,171834.94,0.32,1.92,1322392.28,64566.58,0.11,1.454545
3,Kinsley Coulter Products,165559.63,82235.84,0.50,1.12,552593.97,27567.95,0.05,0.746667
4,Victory Athletic,35303250.00,7653206.58,0.22,0.97,15403547.00,1433760.00,0.08,0.795082
5,Surfside Footwear,570684.38,195540.14,0.34,2.13,1241529.04,73123.82,0.10,1.589552
6,Alpine Company,1056033.25,300550.14,0.28,1.27,1614647.57,112015.38,0.06,0.992188
7,Heartland Outdoor Footwear,1454875.00,-97017.76,-0.07,1.01,1176143.61,86156.41,0.09,1.086022
8,Templeton Athletic,397708.75,169579.43,0.43,0.98,516182.44,79169.92,0.14,0.685315

In [49]:
ex3_comp_firms.mean()

Market Value    4.567496e+06
Debt            9.455347e+05
D/E             2.488889e-01
Beta            1.557778e+00
Revenue         2.742850e+06
Earnings        2.206625e+05
2000-06         9.777778e-02
BU              1.279956e+00
dtype: float64

In [52]:
average_bu = 1.279

In [56]:
mercury_de_ratio = 0.3/0.7
mercury_de_ratio

0.4285714285714286

In [58]:
beta_final = average_bu * (1+mercury_de_ratio)

In [59]:
tax = 0.4
rate_debt = 0.06

In [60]:
risk_premium = 0.05 
risk_free = 0.0493

In [63]:
(1-tax) * rate_debt * 0.3 + 0.7 * (beta_final * risk_premium + risk_free)

0.10926000000000001

In [64]:
wacc = 0.10926

In [65]:
wacc * 100

10.926

# DCF

In [83]:
FCF

2006             NaN
2007    21239.845856
2008    26727.298764
2009    22097.360088
2010    25472.810708
2011    29545.036730
dtype: float64

In [84]:
wacc

0.10926

In [85]:
growth_rate = 0.03

In [86]:
FCF[-1]

29545.03673000002

In [87]:
FCF[-1] * (1 + growth_rate) / (wacc - growth_rate)

383943.82831062353

In [88]:
TV = 383943.82831062353

In [89]:
FCF[1:]

2007    21239.845856
2008    26727.298764
2009    22097.360088
2010    25472.810708
2011    29545.036730
dtype: float64

In [93]:
dcf_fcf = pd.DataFrame({"fcf":FCF[1:]})

In [96]:
dcf_fcf["wacc"] = [(1+wacc), (1+wacc)**2, (1+wacc)**3, (1+wacc)**4, (1+wacc)**5]

In [98]:
dcf_fcf["TV"] = [0,0,0,0,TV]

In [100]:
dcf_fcf

               fcf      wacc             TV
2007  21239.845856  1.109260       0.000000
2008  26727.298764  1.230458       0.000000
2009  22097.360088  1.364898       0.000000
2010  25472.810708  1.514026       0.000000
2011  29545.036730  1.679449  383943.828311

In [102]:
dcf_fcf["EV"] = dcf_fcf.apply(lambda row: (row.fcf+row.TV)/row.wacc, axis=1)

In [103]:
dcf_fcf

               fcf      wacc             TV             EV
2007  21239.845856  1.109260       0.000000   19147.761441
2008  26727.298764  1.230458       0.000000   21721.427506
2009  22097.360088  1.364898       0.000000   16189.757179
2010  25472.810708  1.514026       0.000000   16824.550033
2011  29545.036730  1.679449  383943.828311  246205.106268

In [104]:
dcf_fcf.sum()

fcf     125082.352146
wacc         6.898090
TV      383943.828311
EV      320088.602427
dtype: float64

In [106]:
final_value_dcf = 320088.61